@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: "Bebas Neue", serif;
    background-color: #e2a370;
}

.header {
    background-color: #e5cdab; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}

.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.album {
    width: 200px; 
    margin: 20px; 
    text-align: center; 
}

.album img {
    width: 100%; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.album h2 {
    font-size: 1.2em; 
}

.album p {
    font-size: 0.8em; 
    color: #4e6151; 
}
